pdfminer.six
transformers
nltk
openai
chromadb
langchain
langchain-openai
langchain-chroma
langchain-community
dashscope
pypdf
torchvision
timm
fitz
frontend
PyMuPDF
pdfplumber
camelot-py[cv]
PyPDF2==2.12.1
tabulate
pandas
